// Secondary colors
$secondary-title: #AEAEAE;
$secondary-text: #999999;

// button colors
$button-important: #b6be00;

// menus
$menus-hover: rgba(138, 188, 0, 0.8);
$action-hover-background: #a1b2c2;

// generic colors
$white: #FFFFFF ;
$blue: #4fc1de ;
$dark-blue: #266092 ;
$green: #c1d906 ;
$dark-gray: #555964 ;
$medium-gray: #99999a ;
$light-gray: #e3e3e3 ;
$black: #000000 ;